<ion-header>
  <ion-toolbar>
    <ion-title>
      Bluetooth
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button
    *ngIf="!btEnabled"
    ion-button
    margin-top
    full
    large
    (click)="enableBluetooth()"
  >
    Turn ON Bluetooth
  </button>

  <ion-item-group *ngIf="btEnabled">
    <ion-item-divider color="light">
      Paired devices
    </ion-item-divider>
    <ion-item *ngFor="let device of pairedDevices">
      <h2>{{device.name}}</h2>
      <p>{{device.id}}</p>
      <button ion-button icon-left item-end>
        <ion-icon name="bluetooth"></ion-icon>
        Connect
      </button>
    </ion-item>

    <ion-item-divider color="light">
      Available devices
      <span item-end *ngIf="btScanning">
        <ion-spinner name="crescent"></ion-spinner>
      </span>
      <button *ngIf="!btScanning" ion-button icon-left clear item-end
        (click)="discoverUnpairedDevices()"
      >
        <ion-icon name="refresh"></ion-icon>
        Refresh
      </button>
    </ion-item-divider>
    <ion-item *ngFor="let device of unpairedDevices">
      <h2>{{device.name}}</h2>
      <p>{{device.id}}</p>
      <button ion-button icon-left item-end>
        <ion-icon name="bluetooth"></ion-icon>
        Connect
      </button>
    </ion-item>

  </ion-item-group>
</ion-content>
